.Products-Container {
  width: 90vw;
  margin: 1rem;
  padding: 2rem;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Products-Grid {
  padding: 2em;
  border-top: 1px solid var(--color-accent-tint-grey-1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 2rem;
  position: relative;
}

.Cart-Image {
  width: 102px;
}

.Checkout-Button-Container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.cart-total-sum {
  left: 79%;
  top: 100%;
}

.Bag-Title {
  margin: 2rem 0;
  text-align: center;
}

.cart-quantity-check {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: right;
}
.cart-checkout-total {
  display: inline-block;
}

.cart-checkout-total-amount,
.cart-checkout-total,
.currency-total-icon {
  font-size: 33px;
}

.close-icon {
  position: absolute;
  top: 5%;
  left: 90%;
  align-items: center;
  width: 16px;
  height: 8px;
  cursor: pointer;
  align-items: center;
  color: var(--color-accent-tint-grey-4);
}
.close-icon:hover {
  color: var(--color-primary-tint-purple-0);
}
.close-icon:active {
  color: var(--color-accent-tint-orange-1);
}

.cart-quantity-label {
  font-size: 12px;
}
.cart-quantity-check {
  display: inline-block;
  text-align: center;
}

.quantity-left-btn-cart,
.quantity-right-btn-cart {
  padding-left: 5px;
  padding-right: 5px;
  color: #6122c7ec;
  cursor: pointer;
}

.quantity-left-btn-cart:active,
.quantity-right-btn-cart:active {
  color: var(--color-accent-tint-orange-1);
}

.Align-Cart-Counters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Cart-Buttons {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1201px) {
  .product-left,
  .product-right,
  .product-bottom {
    width: 100%;
  }
  .product-quantity {
    text-align: left;
    display: flex;
    flex-direction: row;
  }
  .quantity-left-btn-cart,
  .quantity-right-btn-cart {
    padding: 0px;
    margin: 0px;
  }
  .close-icon {
    top: 0;
  }
}

