
/* .Title-Container {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-tint-purple-3);
  color: white;
} */
/* 
.Title-Cart {
  font-size: 24px;
} */
