.form-container {
  margin: 80px auto;
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}
.form-wrap {
  width: 550px;
  background: var(--color-accent-tint-grey-0);
  border-radius: 50px;
}

.form-logo {
  width: 120px;
  transition: cubic-bezier(0.46, -0.3, 0.49, 1.32) 3s;
}
.form-logo:hover {
  transform: translateY(10%);
}
.profile {
  width: 240px;
  float: left;
  text-align: center;
  padding: 30px;
}
form {
  background: var(--color-accent-tint-orange-transparent);
  float: left;
  width: calc(100% - 240px);
  padding: 33px;
  border-radius: 0 45px 45px 0;
  color: var(--color-light);
}

form div {
  margin-bottom: 15px;
  position: relative;
}

.profile h2 {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  color: var(--color-accent-tint-orange-3);
  text-shadow: 1px 1px var(--color-accent-tint-grey-4);
}

label {
  display: block;
  font-size: 18px;
  margin: 5px;
}

input[type="text"],
input[type="email"],
.input-message {
  width: 100%;
  padding: 10px 15px;
  border-width: 0;
  border-radius: 5px;
  background: var(--color-accent-tint-grey-0);
  color: var(--color-accent-tint-grey-5);
  outline: none;
  cursor: pointer;
}

input[type="text"]:focus,
input[type="email"]:focus,
.input-message:focus {
  box-shadow: inset 0 0 0 2px var(--color-accent-tint-grey-3);
  color: var(--color-accent-grey);
  font-weight: 600;
  border-radius: 10px;
}
.submit-btn {
  width: 140px;
  height: 60px;
  overflow: hidden;
  background: linear-gradient(to right, #3c096c, #7b2cbf 50%, #3c096c 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  padding: 10px 0;
  border-width: 0;
  color: var(--color-light);
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
.submit-btn:hover {
  background-position: 0 100%;
  text-decoration: none;
}
.submit-btn:active {
  color: var(--color-accent-tint-orange-1);
  font-weight: 600;
}
