.Footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}