.NavbarWrapper {
  display: flex;
  flex-direction: row;
  position: sticky;
  width: 100%;
}

.Navbar {
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.Navbar a {
  text-decoration: none;
  font-size: 16px;
}

.logo {
  height: 50px;
}

.NavbarSocial {
  height: 60px;
  width: 70%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

.NavbarSocial a {
  margin: 5px;
}

.facebook-icon {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: blue;
  border-radius: 50%;
  border: solid 1px rgba(128, 128, 128, 0.171);
  background-color: white;
}

.instagram-icon {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: purple;
  border-radius: 50%;
  border: solid 1px rgba(128, 128, 128, 0.171);
  background-color: white;
}

.youtube-icon {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: red;
  border-radius: 50%;
  border: solid 1px rgba(128, 128, 128, 0.171);
  background-color: white;
}

.search-icon {
  height: 30px;
  width: 30px;
  background-color: rgba(128, 128, 128, 0.048);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: gray;
  border-radius: 50%;
  border: solid 1px rgba(128, 128, 128, 0.171)
}

.shopping-icon {
  height: 30px;
  width: 50px;
  background-color: #9F78FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 30px;
}
