.navbar{
  background: #f7f7fde1;
}

.logo {
  height: 70px;
}

.is-active a {
  margin: 20px;
  font-size: 20px;
  color: rgb(122, 122, 122);
}

.is-active a:hover {
  color: #9F78FF;
  text-decoration: none;
}

.Social-links .facebook-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  height: 50px;
  width: 50px;
}

.Social-links .facebook-icon svg {
  color: blue;
}

.Social-links .instagram-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  height: 50px;
  width: 50px;
}

.Social-links .instagram-icon svg {
  color: purple;
}

.Social-links .youtube-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  height: 50px;
  width: 50px;
}

.Social-links .youtube-icon svg {
  color: red;
}

.Social-links .shopping-icon {
  height: 50px;
  width: 70px;
  background-color: #9F78FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.Social-links .shopping-icon svg{
  color: white;
}

.navbar-toggler{
  width: 60px;
  height: 60px;
}
