.back-to-top .top {
  position: fixed;
  cursor: pointer;
  z-index: 1;
  bottom: 15px;
  right: 35px;
  font-size: 25px;
  color: var(--color-accent-tint-grey-0);
  background-color: var(--color-primary-tint-purple-4);
  width: 50px;
  height: 50px;
  line-height: 45px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-top .top:hover {
  color: var(--color-accent-tint-grey-1);
  background-color: var(--color-primary-tint-purple-0);
}
.back-to-top .top:active {
  color: var(--color-accent-tint-orange-1);
}